@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem vindo</h1>
    <p>Acesse meu <a href="https://github.com/FelipeECorrea">GitHub</a></p>
</div>
