@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <!-- /.col-lg-4 -->
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="https://avatars.githubusercontent.com/u/105026938?v=4" alt="Generic placeholder image" width="130" height="130">
            <h2>Heading</h2>
            <p>Bom vou contar um pouquinho de mim ;).  Me chamo Felipe Evanilson Corrêa, Atualmente exerço como soldado do Exercito Brasileiro no 23º Batalhão de Infantaria, hoje localizado na cidade de Blumenau em Santa Catarina.</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-start" src="https://becode.com.br/wp-content/uploads/2017/02/As-15-principais-linguagens-de-programa%C3%A7%C3%A3o-no-mundo.png" alt="Generic placeholder image" width="130" height="130">
            <h2>Heading</h2>
            <p>Comentario</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4" >
            <img class="rounded-circle" src="https://cristianethiel.com.br/wp-content/uploads/2017/12/Como-Escolher-a-Melhor-Rede-Social-para-o-seu-Neg%C3%B3cio-Featured.png" alt="Generic placeholder image" width="130" height="130">
            <h2>Rede Sociais</h2>
            <p>Acesse meu <a href="https://github.com/FelipeECorrea">GitHub</a></p>
            <p>Acesse meu <a href="https://www.linkedin.com/in/felipeecorrea/">Linkedin</a></p>
            <p>Acesse meu <a href="https://fb.com/FelipeCorrea">Facebook</a></p>
        </div>
    </div>
</div>

