<h3>Cadastrar Espécie</h3>

<form action="registrar" methot="get">
	<div>
		<label for="campo_nome">Nome:</label>
		<input type="text" id="campo_nome" name="nome" />
	</div>
	<div>
		<label for="campo_especie">Espécie:</label>
		<select id="campo_especie" name="especie">
			<option value="null">Selecione a Especie</option>
			<option value="Cachorro">Cachorro</option>
			<option value="Gato">Gato</option>
		</select>
	</div>
	<div>
		<button type="submit">Salvar</button>
	</div>
</form>